[submodule "lib/lockfree_mpmc_queue"]
	path = lib/lockfree_mpmc_queue
	url = https://github.com/erez-strauss/lockfree_mpmc_queue
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/abseil-cpp"]
	path = lib/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "lib/robin-map"]
	path = lib/robin-map
	url = https://github.com/Tessil/robin-map
[submodule "lib/unordered_dense"]
	path = lib/unordered_dense
	url = https://github.com/martinus/unordered_dense
