# Residual program/platform files
**/.vscode/
**/.DS_Store

# ITCH input too large for GitHub
ITCHFiles/

# Exclude everything in the LiveOutput folder, aside from vwap_placeholder.txt so git tracks the directory
LiveOutput/vwap/**
!LiveOutput/vwap/vwap_placeholder.txt
!LiveOutput/placeholder.txt

# Don't push the build
build/

# Ignore TODOs notes
todos.txt

sanity_check_*/
