# Residual program/platform files
**/.vscode/
**/.DS_Store

# ITCH input too large for GitHub
ITCHFiles/

# Exclude everything in the LiveOutput folder, aside from vwap_placeholder.txt so git tracks the directory
LiveOutput/vwap**
!LiveOutput/placeholder.txt

# Don't push the build
build/

# Uncomment later to add moodycamel MPMC queue to the project
lib/concurrentqueue