[submodule "lib/lockfree_mpmc_queue"]
	path = lib/lockfree_mpmc_queue
	url = https://github.com/erez-strauss/lockfree_mpmc_queue
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
